*{
    margin: 0;
    padding: 0;
}

/* eb5e55 bgcolor
3a3335 black like color
d81e5b for button */

body{
    background-color:  #eb5e55;
    text-align: center;
}

.container{
 height: 70vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0  0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #3a3335;
    background-color: white;
}

#resetBtn{
    padding: 1rem;
    font-size: 1.2rem;
    background: #3a3335;
    border: none;
    border-radius: 1rem;
    color: white;
}